html{
    background-color: rgba(253, 205, 12, 0.945);
}
h1{
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    text-align: center;
}
span{
    background-color: rgb(252, 182, 5);
    padding:0 30px;
}
.game{
    display:flex;
    flex-wrap: wrap;
    justify-self: center;
    width:600px;
    height: 400px;

}
.hole{
 flex:1 0 33.33%;  
 position: relative; 
  overflow: hidden; 
}
.hole::after{
    display:block;
    background:url(dirt.svg) no-repeat center bottom;
    background-size: contain;
    position: absolute;
    content: '';
   z-index: 2;
   width: 100%;
   height: 40%;
   bottom: -30px;
}

.mole{
   background: url(mole.svg) no-repeat ; 
   background-size: contain;
   position: absolute;
   z-index: 1;
    bottom: -60%; 
   width:60%;
   height: 60%;
   left:50%;
   transform: translateX(-50%);
   transition: all 0.3s ease;

}
.up{
bottom:0;
}