.progress{
    /* width:500px; */
    height: 10px;
    background-color: black;
   width:0%
}
#pp{
    width:640px;
    height: 10px;
    background-color:black;
}
button{
    border-style: none;
}
html{
    background-color: rgba(98, 3, 120, 0.462);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}