html{
    box-sizing: border-box;
    font-size: 10px;
    background-color: lab(71.64% 28.17 75.54 / 0.973); 
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    display:block;
    margin: 8px;
}
.photobooth{
    background-color: white;
    max-width: 150rem;
    border-radius: 2px;
    margin: 2rem auto;
}
.photobooth::after{
    content:'';
    clear:both;
    display: block;
}
.player{
    position: absolute;
    top:20px;
    right: 20px;
    width:200px;
}
.photo{
    width:100%;
    float:left;
}
.strip{
    padding: 2em;

}
.strip img{
 width:100px;
  padding: 0.8rem 0.8rem 2.5rem 0.8rem;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }