html, body {
  height: 100%;
  margin: 0; /* 清除默认边距 */
}
body{
    background-image: url('./sound/background.jpg');
}
.keys{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}
.key
{
    border: 5px solid black;
    width: 100px;
    height: 100px;
    text-align: center;

}
kbd{
    font-size: 50px;
    display: block;
    text-shadow: -1px 2px white;
}
span{
    font-size: large;
    color: #e5f506;
}
.playing{
    border-color: #e5f506;
    transition: all 0.3s ease;
    transform: scale(1.1);
}